<section class="text-gray-600">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-start">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"><%= "Name : #{@user.profile.name}" %> </h1>
      <p class="mb-8 leading-relaxed"><%= "Description : #{@user.profile.description}" %></p>
      <!-- グループリスト始まり -->
      <% @user.groups.each do |group| %>
      <li class="flex space-x-3 mb-5">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users-group" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
          <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
          <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
          <path d="M17 10h2a2 2 0 0 1 2 2v1" />
          <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
          <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
        </svg>
        <span class="text-gray-600 dark:text-white">
          <%= group.name %>
        </span>
      </li>
      <%end%>
      <!-- グループリスト終わり -->
      <div class="items-start">
        <%= link_to "編集", edit_profile_path, class: "btn btn-success"%>
      </div>
    </div>

  </div>
</section>