<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12">いろんなTodo</h2>

    <div class="mb-6 grid gap-6 sm:grid-cols-2 md:mb-8 lg:grid-cols-4 lg:gap-8">
      <!-- plan - start -->
      <div class="flex flex-col overflow-hidden rounded-lg border-2 border-indigo-500 flex-1">
        <div class="bg-indigo-500 py-2 text-center text-sm font-semibold uppercase tracking-widest text-white">下書きリスト</div>

        <div class="flex flex-1 flex-col p-6 pt-8">
          <div class="mb-12">
            <div class="mb-2 text-center text-2xl font-bold text-gray-800">さんぷる</div>

            <p class="mx-auto mb-8 px-8 text-center text-gray-500">さんぷる</p>

            <div class="space-y-4">
              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->
            </div>
          </div>

          <div class="mt-auto">
            <a href="#" class="block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">さんぷる</a>
          </div>
        </div>
      </div>
      <!-- plan - end -->

            <!-- plan - start -->
      <div class="flex flex-col overflow-hidden rounded-lg border-2 border-indigo-500">
        <div class="bg-indigo-500 py-2 text-center text-sm font-semibold uppercase tracking-widest text-white">未承認リスト</div>

        <div class="flex flex-1 flex-col p-6 pt-8">
          <div class="mb-12">
            <div class="mb-2 text-center text-2xl font-bold text-gray-800">さんぷる</div>

            <p class="mx-auto mb-8 px-8 text-center text-gray-500">さんぷる</p>

            <div class="space-y-4">
              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->
            </div>
          </div>

          <div class="mt-auto">
            <a href="#" class="block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">さんぷる</a>
          </div>
        </div>
      </div>
      <!-- plan - end -->

            <!-- plan - start -->
      <div class="flex flex-col overflow-hidden rounded-lg border-2 border-indigo-500">
        <div class="bg-indigo-500 py-2 text-center text-sm font-semibold uppercase tracking-widest text-white">承認済りすと</div>

        <div class="flex flex-1 flex-col p-6 pt-8">
          <div class="mb-12">
            <div class="mb-2 text-center text-2xl font-bold text-gray-800">さんぷる</div>

            <p class="mx-auto mb-8 px-8 text-center text-gray-500">さんぷる</p>

            <div class="space-y-4">
              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->
            </div>
          </div>

          <div class="mt-auto">
            <a href="#" class="block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">さんぷる</a>
          </div>
        </div>
      </div>
      <!-- plan - end -->

            <!-- plan - start -->
      <div class="flex flex-col overflow-hidden rounded-lg border-2 border-indigo-500">
        <div class="bg-indigo-500 py-2 text-center text-sm font-semibold uppercase tracking-widest text-white">完了リスト</div>

        <div class="flex flex-1 flex-col p-6 pt-8">
          <div class="mb-12">
            <div class="mb-2 text-center text-2xl font-bold text-gray-800">さんぷる</div>

            <p class="mx-auto mb-8 px-8 text-center text-gray-500">さんぷる</p>

            <div class="space-y-4">
              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->

              <!-- check - start -->
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none" viewBox="0 0 16 16">
                  <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                  <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                </svg>

                <span class="text-gray-600">さんぷる</span>
              </div>
              <!-- check - end -->
            </div>
          </div>

          <div class="mt-auto">
            <a href="#" class="block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">さんぷる</a>
          </div>
        </div>
      </div>
      <!-- plan - end -->

    </div>
  </div>
</div>