<div class="text-center">
    <h1 class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200">Group Edit</h1>
</div>

<%= render partial: "form", locals: { group: @group, form_url: group_path(@group) } %>