<div class="text-center">
    <h1 class="mt-10 text-3xl font-semibold text-gray-800"><%= t("groups.edit") %></h1>
</div>

<%= render partial: "form", locals: { group: @group, form_url: group_path(@group) } %>