<div class="flex flex-wrap mx-auto items-baseline justify-center">
  <div class="mt-5 mb-5 text-sm font-light text-gray-500">
    <%= link_to "お問い合わせ", "https://twitter.com/simplerunteq44", class: "mr-4"%>
    <%= link_to "利用規約", terms_path, class: "mx-4"%>
    <%= link_to "プライバシーポリシー", privacy_path, class: "ml-4"%>
  </div>
</div>
