<div class="flex flex-wrap items-baseline justify-center ml-80">
  <div class="mt-5 mb-5 text-sm font-light text-gray-500">
    <%= link_to "お問い合わせ", "#", class: "mr-4"%>
    <%= link_to "利用規約", "#", class: "mx-4"%>
    <%= link_to "プライバシーポリシー", "#", class: "ml-4"%>
  </div>
</div>
