<div class="flex flex-wrap items-baseline justify-center">
  <div class="mt-5 mb-5 text-sm font-light text-gray-500">
    <%= link_to "お問い合わせ", "#"%>
    <%= link_to "利用規約", "#"%>
    <%= link_to "プライバシーポリシー", "#"%>
  </div>
</div>
