<div class="flex flex-col bg-white border shadow-sm rounded-xl p-2 dark:bg-slate-900 dark:border-gray-700">
  <div class="text-sm font-semibold text-gray-800 dark:text-white">
    <%= link_to request.take, group_request_path(request.group, request) %>
  </div>
  <div class="flex flex-col mt-1 text-xs text-gray-800">
    <div><%= request.user.profile.name%>
      <% if request.execution_date.present? %>
        <%= "#{l request.execution_date, format: :short}" %>
      <% end %>
    </div>
    <div>
      <%= "許可数: #{request.request_users.where(approval_status: 1).count}/#{request.request_users.count}" %>
    </div>
  </div>
</div>
