<div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-slate-900 dark:border-gray-700">
  <div class="text-base font-bold text-gray-800 dark:text-white">
    <%= link_to request.take, group_request_path(request.group, request) %>
  </div>
  <% if request.execution_date.present? %>
    <div class="mt-1 text-xs font-medium uppercase text-gray-500 dark:text-gray-500">
      <%= "#{l request.execution_date, format: :short}" %>
    </div>
  <% end %>
  <div class="mt-1 text-xs text-gray-500 dark:text-gray-400">
    <%= "許可数: #{request.request_users.where(approval_status: 1).count}/#{request.request_users.count}" %>
  </div>
</div>
